@model List<UserDto>
@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    ViewBag.pTitle = "Kullanıcı Listesi";
    ViewBag.pageTitle = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title">Kullanıcı Listesi</h1>
                <div class="d-flex justify-content-end mb-3">
                    <a type="button" class="btn btn-primary waves-effect waves-light" asp-action="Add"
                        asp-controller="User">
                        Yeni Kullanıcı Ekle
                        <i class="ri-arrow-right-line align-middle ms-2"></i>
                    </a>
                </div>
                @if (ViewBag.IsSuccessfull == false)
                {
                    @foreach (var error in ViewBag.Errors)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="mdi mdi-alert-outline me-2"></i>
                            @error
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                }
                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-0">

                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Kullanıcı Adı</th>
                                <th>Kullanıcı Soyadı</th>
                                <th>Email</th>
                                <th>Kullanıcı Rolü</th>
                                <th>Kullanıcıyı Düzenle</th>

                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.IsSuccessfull == true)
                            {
                                @foreach (var usr in Model)
                                {
                                    <tr class="text-center">
                                        <th scope="row">
                                            <div class="avatar-xs d-inline-block ">
                                                @Html.Raw(usr.Avatar)
                                            </div>
                                        </th>
                                        <td> @usr.Name</td>
                                        <td> @usr.Surname</td>
                                        <td> @usr.Email</td>
                                        <td> @usr.Role</td>
                                        <td class="UserEdit">
                                            <a type="button" class="btn btn-success waves-effect waves-light"
                                        asp-controller="User" asp-action="Edit" asp-route-userId="@usr.Id">
                                                <i class="mdi mdi-account-edit align-middle ms-2"></i>
                                                Düzenle
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end row -->
